<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>vshop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 配置登录页面路径 -->
	<context-param>
	<param-name>login_page</param-name>
	<param-value>/index.jsp</param-value>
	</context-param>
	
	<!-- 配置需要登录才能操作的页面路径 -->
	<context-param>
	<param-name>validate_page</param-name>
	<param-value>/main.jsp,/info.do,/save.do,/sys.jsp,/add.jsp,/user.jsp,/out.jsp,/add.do,/check.do,/user.do,/main.do,/sys.do</param-value>
	</context-param>
	
	<!-- 配置不需要登录就能访问的页面 -->
	<context-param>
	<param-name>common_page</param-name>
	<param-value>/index.jsp,/login.do,/getpass.jsp,/updatepass.jsp</param-value>
	</context-param>

	<!-- 配置loginServlet -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.vshop.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	
		<!-- 配置infoServlet -->
	<servlet>
		<servlet-name>infoServlet</servlet-name>
		<servlet-class>com.vshop.servlet.InfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>infoServlet</servlet-name>
		<url-pattern>/info.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置saveInfoServlet -->
	<servlet>
		<servlet-name>saveInfoServlet</servlet-name>
		<servlet-class>com.vshop.servlet.SaveInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>saveInfoServlet</servlet-name>
		<url-pattern>/save.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置addUserServlet -->
	<servlet>
		<servlet-name>addUserServlet</servlet-name>
		<servlet-class>com.vshop.servlet.AddUserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addUserServlet</servlet-name>
		<url-pattern>/add.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置checkUserIdServlet -->
	<servlet>
		<servlet-name>checkUserIdServlet</servlet-name>
		<servlet-class>com.vshop.servlet.CheckUserIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkUserIdServlet</servlet-name>
		<url-pattern>/check.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置mainServlet -->
	<servlet>
		<servlet-name>mainServlet</servlet-name>
		<servlet-class>com.vshop.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/main.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置getUserInfoServlet -->
	<servlet>
		<servlet-name>getUserInfoServlet</servlet-name>
		<servlet-class>com.vshop.servlet.GetUserInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getUserInfoServlet</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置sysServlet -->
	<servlet>
		<servlet-name>sysServlet</servlet-name>
		<servlet-class>com.vshop.servlet.SysServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sysServlet</servlet-name>
		<url-pattern>/sys.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置编码方式Filter -->
	<filter>
		<filter-name>charsetEncoding</filter-name>
		<filter-class>com.vshop.filter.CharsetEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>charsetEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- 验证用户是否登录的Filter -->
	<filter>
		<filter-name>validateLogn</filter-name>
		<filter-class>com.vshop.filter.ValidateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>validateLogn</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>validateLogn</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	 
</web-app>